target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/jarRepositories.xml
.idea/compiler.xml
*.iws
*.iml
*.ipr

#log
logs-log4j/
log/